@import "_css-reset";
// @include font-face('Helvetica Neue', css/fonts/HelveticaNowDisplayXBlk, 500, normal, eot woff2 woff);

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Libre Franklin', sans-serif;

}

.wrapper{
    width: 100%;
    height: auto;
    // background-color: #F3E9E1;
    background: #F3E9E1 url(../images/front-image.png) no-repeat 85% 100%;
    background-size: 45%;


    header{
        padding: 20px 150px;



        .nav{
            display: flex;


            img{
                width: 157px;
                height: 56px;
            }
            ul{
                display: flex;
                justify-content: flex-end; 
                padding: 0;
                flex: 1;

                li{
                    list-style-type: none;


                    .nav-links{
                        text-decoration: none;
                        display: block;
                        padding: 15px 30px;
                        text-transform: uppercase;
                        margin-left: 10px; 
                        cursor: pointer;

                    }
                    .transparent{
                        background: transparent;
                        border: 2px solid #000;
                        color: #000;
                    }

                    .background{
                        background: #000;
                        color: #fff;
                        border: 2px solid #000;
                    }
                }
            }

            
        }   
    }//header

    //main begins

    .main{
        padding: 160px 150px;
        article{
            width: 50%;
            // border: 1px solid red;
            h2{
                font-weight: 800;
                font-size: 120px;
                line-height: 120px;
	            text-transform: uppercase;

            }
            p{
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                padding: 20px 0;
            }

            .search-wrapper{
                padding-top: 30px;
                width: 80%;
                height: 60px;
                display: flex;


                .email-field{
                //    border: 1px solid red;
                    height: 60px;
                    width: 95%;
                    font-size: 20px;
                    padding: 0 10px;
                    border: none;
                }
    
                .search_button{
                    height: 60px;
                    width: 100px;
                    // border: 1px solid green;
                    background: #5747e2;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 14px;
                    padding: 0 25px;
                    display: flex;
                    justify-content: center;
                    border: none;
                    cursor: pointer;

                }
            }
        } //article
        
        
    }//main
}// wrapper

//second wrapper
.slide-wrapper{
    width: 100%;
    height: auto;
    background: #F6BEBD;
    // border: 1px solid black;
    

.content{
    padding: 100px 150px;
    display: flex;
    width: auto;


    .figure-wrapper{
        // border: 1px solid red;
        // width: 50%;

        figure{
            width: 100%;
            // border: 1px solid red;

            img{
                width: auto;
                border-radius: 50px;
            }
        }
    } //figure wrapper

    .figure-content{
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
        
        h2{
            font-size: 96px;
            font-weight: 700;
            line-height: 96px;
	        text-transform: uppercase;

            // align-self: center;
        }

        p{
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            padding: 20px 0;
        }
    } //figure-content
} //content
} //slide-wrapper

// third section

.third-section{
    width: 100%;
    height: auto;
    background: #5747E2;
    color: #F3E9E0;
    // border: 1px solid red;
    display: flex;
    justify-content: center;

    .post-reply{
        padding: 100px 150px;
        width: 75%;
        // border: 1px solid red;

        h2{
            font-size: 96px;
            font-weight: 700;
            line-height: 96px;
            text-align: center;
            padding: 0 0 20px;
	        text-transform: uppercase;

        
        }
        p{
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            text-align: center;
            text-align: center;

            // padding: 20px 0;
        }

        figure{
            // border: 1px solid red;
            width: 100%;
            display: flex;
            padding-top: 30px;
            flex-direction: column;

            img{
                width: 500px;
                align-self: center;
                // height: 250px;
            }
        }
    }
}

//fourth section

.fourth-section{
    width: 100%;
    height: auto;
    background: #F3E9E1;
    // border: 1px solid red;


    .team{
        padding: 100px 0;
        // border: 1px solid blue;
        
        h2{
            text-transform: uppercase;
            font-size: 96px;
            font-weight: 700;
            line-height: 96px;
            text-align: center;
        }
    
        span{
            text-transform: lowercase;
            font-style: italic;
            font-weight: 400;
            font-family: 'Times New Roman', Times, serif;
        }

        .gallery{
            display: flex;
            overflow: scroll;
            padding: 50px 0;
    
            figure{
                img{
                    width: 403.19px;
                    height: 395.63px;
                    margin: 0 15px;
                }
                figcaption{
                    text-align: center;
                    em{
                        font-size: 22px;
                        line-height: 26px;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 27px;
    
                    }
                }
            }
        } //gallery

        .button-sign-up{
            width: 100%;
            // border: 1px solid red;
            display: flex;
            justify-content: center;

            .sign-up-btn{
                padding: 15px 30px;
                background: #000;
                color: #fff;
                font-size: 15px;
                text-transform: uppercase;
                text-align: center;
                cursor: pointer;
                // border: 1px solid red;
            }
        }
    } //team 
}//fourth section

//fifth section
.fifth-section{
    width: 100%;
    height: auto;
    background: #163952;
    // border: 1px solid white;


    .content-wrapper{
        padding: 100px 150px;
        // border: 1px solid red;

        h2{
            color: #F3E9E0;
            text-align: center;
            font-size: 96px;
            font-weight: 700;
            line-height: 96px;
        }
    }

    .slider{
        display: flex;
        // border: 1px solid red;
        padding: 100px 150px;

        
        .left-content{
            font-size: 32px;
            width: 50%;
            // border: 1px solid blue;
            padding: 100px 150px;

            p{
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 1px;
                margin-bottom: 13px;
            }

            p:hover{
                text-decoration: underline;
            }

            .color-one{
                color: #FCBFBE;
            }

            .color-two{
                color: #3C4BC4;
            }
            .color-three{
                color: #F6C8A8;
            }
            .color-four{
                color: #FFE3E2;
            }

            .color-five{
                color: #E18543
            }

            .color-six{
                color: #FEE250;
            }

            .button-sign-up{
                width: 100%;
                margin: 107px 0 0;
    
                .sign-up-btn{
                    padding: 15px 30px;
                    background: #F3E9E0;
                    color: #173952;
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    cursor: pointer;
                }
            }

        }// left-content

        .slider-image{
            // border: 1px solid white;
            width: 50%;
            height: 552px;
            overflow: scroll;
            
            figure{
                // border: 1px solid yellow;
                img{
                    width: 100%;
                    height: 482px;
                }

                figcaption{
                    margin: 26px 0 10px;
                    text-align: center;
                    color: #fff;

                    p{
                        font-size: 14px;
                        line-height: 27px;
                        font-weight: 400;
                        cursor: default;
                    }

                    em{
                        font-size: 22px;
                        line-height: 26px;
                    }

                    em:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            } //figure
        } //slider-image
    }
}

//Required Reading Section

.required-reading{
    background: #fee250;
    width: 100%;
    height: auto;
    // border: 1px solid black;


    .inner{
        padding: 100px 150px 10px;
        color: #193952;
        // border: 1px solid red;

        h2{
            font-weight: 800;
            font-size: 47px;
            line-height: 120px;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .read-books{
        // border: 1px solid white;
        display: flex;
        padding: 0 150px;
        justify-content: space-between;

        figure{
            // border: 4px solid brown;
            width: 327px;
            height: 334px;
            // margin: 0 15px; 

            img{
                width: 325px;
                height: 167px;
                // border: 3px solid red;                

                // height: auto;
            }

            figcaption{
                
                p{
                    font-size: 24px;
                    line-height: 29px;
                    font-weight: 400;
                    color: #193952;

                    a{
                        text-decoration: none;
                        color: inherit;
                    }
                }
                p:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
                
            } //figcaption

            .read-more{
                padding-top: 15px;
                display: flex;

                .read-more-img{
                    width: 16px;
                    height: 16px;
                    margin-right: 10px; 
                }
                span{
                    font-size: 16px;

                    a{
                        color:#193952;
                        font-style: italic;
                    }
                    
                }
                a:hover{
                    text-decoration: underline;
                }

            }
            
        } //figure
    } //read-books
}

//footer
footer{
    background: #000;
    width: 100%;
    height: auto;

    .logo{
        padding: 100px 150px;
        img{
            width: 60px;
        }

        display: flex;
    }

    .footer{
        padding: 0 150px 100px;
        display: flex;
        justify-content: space-between;

        .footer-icons{
            ul{
                li{
                    a{
                        font-size: 18px;
                        color: #fff;  
                        line-height: 48px;
                        font-weight: 800;
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    
    
        .footer-more{
            ul{
                li{
                    a{
                        font-size: 24px;
                        font-weight: 800;   
                        line-height: 48px; 
                    }
                    a:hover{
                        text-decoration: underline;
                    }
                    .career{
                        color: #d0e4cb;
                    }
                    .money{
                        color: #ff938c;
                    }
                    .life{
                        color: #fdedb2;
                    }
                }
            }
    
        }
    
        .footer-social-icons{

            figure{
                img{
                    width: 48px;
                    height: 48px;
                    margin: 5px 0;
                }
            }
    
        }
    }
}