/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input {
  outline: 0;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #F3E9E1 url(../images/front-image.png) no-repeat 85% 100%;
  background-size: 45%;
}

.wrapper header {
  padding: 20px 150px;
}

.wrapper header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper header .nav img {
  width: 157px;
  height: 56px;
}

.wrapper header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper header .nav ul li {
  list-style-type: none;
}

.wrapper header .nav ul li .nav-links {
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  text-transform: uppercase;
  margin-left: 10px;
  cursor: pointer;
}

.wrapper header .nav ul li .transparent {
  background: transparent;
  border: 2px solid #000;
  color: #000;
}

.wrapper header .nav ul li .background {
  background: #000;
  color: #fff;
  border: 2px solid #000;
}

.wrapper .main {
  padding: 160px 150px;
}

.wrapper .main article {
  width: 50%;
}

.wrapper .main article h2 {
  font-weight: 800;
  font-size: 120px;
  line-height: 120px;
  text-transform: uppercase;
}

.wrapper .main article p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding: 20px 0;
}

.wrapper .main article .search-wrapper {
  padding-top: 30px;
  width: 80%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main article .search-wrapper .email-field {
  height: 60px;
  width: 95%;
  font-size: 20px;
  padding: 0 10px;
  border: none;
}

.wrapper .main article .search-wrapper .search_button {
  height: 60px;
  width: 100px;
  background: #5747e2;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  cursor: pointer;
}

.slide-wrapper {
  width: 100%;
  height: auto;
  background: #F6BEBD;
}

.slide-wrapper .content {
  padding: 100px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.slide-wrapper .content .figure-wrapper figure {
  width: 100%;
}

.slide-wrapper .content .figure-wrapper figure img {
  width: auto;
  border-radius: 50px;
}

.slide-wrapper .content .figure-content {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100px;
}

.slide-wrapper .content .figure-content h2 {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  text-transform: uppercase;
}

.slide-wrapper .content .figure-content p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  padding: 20px 0;
}

.third-section {
  width: 100%;
  height: auto;
  background: #5747E2;
  color: #F3E9E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-section .post-reply {
  padding: 100px 150px;
  width: 75%;
}

.third-section .post-reply h2 {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  padding: 0 0 20px;
  text-transform: uppercase;
}

.third-section .post-reply p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  text-align: center;
}

.third-section .post-reply figure {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.third-section .post-reply figure img {
  width: 500px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fourth-section {
  width: 100%;
  height: auto;
  background: #F3E9E1;
}

.fourth-section .team {
  padding: 100px 0;
}

.fourth-section .team h2 {
  text-transform: uppercase;
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
}

.fourth-section .team span {
  text-transform: lowercase;
  font-style: italic;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
}

.fourth-section .team .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  padding: 50px 0;
}

.fourth-section .team .gallery figure img {
  width: 403.19px;
  height: 395.63px;
  margin: 0 15px;
}

.fourth-section .team .gallery figure figcaption {
  text-align: center;
}

.fourth-section .team .gallery figure figcaption em {
  font-size: 22px;
  line-height: 26px;
}

.fourth-section .team .gallery figure figcaption p {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.fourth-section .team .button-sign-up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourth-section .team .button-sign-up .sign-up-btn {
  padding: 15px 30px;
  background: #000;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.fifth-section {
  width: 100%;
  height: auto;
  background: #163952;
}

.fifth-section .content-wrapper {
  padding: 100px 150px;
}

.fifth-section .content-wrapper h2 {
  color: #F3E9E0;
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
}

.fifth-section .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 150px;
}

.fifth-section .slider .left-content {
  font-size: 32px;
  width: 50%;
  padding: 100px 150px;
}

.fifth-section .slider .left-content p {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 13px;
}

.fifth-section .slider .left-content p:hover {
  text-decoration: underline;
}

.fifth-section .slider .left-content .color-one {
  color: #FCBFBE;
}

.fifth-section .slider .left-content .color-two {
  color: #3C4BC4;
}

.fifth-section .slider .left-content .color-three {
  color: #F6C8A8;
}

.fifth-section .slider .left-content .color-four {
  color: #FFE3E2;
}

.fifth-section .slider .left-content .color-five {
  color: #E18543;
}

.fifth-section .slider .left-content .color-six {
  color: #FEE250;
}

.fifth-section .slider .left-content .button-sign-up {
  width: 100%;
  margin: 107px 0 0;
}

.fifth-section .slider .left-content .button-sign-up .sign-up-btn {
  padding: 15px 30px;
  background: #F3E9E0;
  color: #173952;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.fifth-section .slider .slider-image {
  width: 50%;
  height: 552px;
  overflow: scroll;
}

.fifth-section .slider .slider-image figure img {
  width: 100%;
  height: 482px;
}

.fifth-section .slider .slider-image figure figcaption {
  margin: 26px 0 10px;
  text-align: center;
  color: #fff;
}

.fifth-section .slider .slider-image figure figcaption p {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  cursor: default;
}

.fifth-section .slider .slider-image figure figcaption em {
  font-size: 22px;
  line-height: 26px;
}

.fifth-section .slider .slider-image figure figcaption em:hover {
  text-decoration: underline;
  cursor: pointer;
}

.required-reading {
  background: #fee250;
  width: 100%;
  height: auto;
}

.required-reading .inner {
  padding: 100px 150px 10px;
  color: #193952;
}

.required-reading .inner h2 {
  font-weight: 800;
  font-size: 47px;
  line-height: 120px;
  text-transform: uppercase;
  text-align: center;
}

.required-reading .read-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.required-reading .read-books figure {
  width: 327px;
  height: 334px;
}

.required-reading .read-books figure img {
  width: 325px;
  height: 167px;
}

.required-reading .read-books figure figcaption p {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #193952;
}

.required-reading .read-books figure figcaption p a {
  text-decoration: none;
  color: inherit;
}

.required-reading .read-books figure figcaption p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.required-reading .read-books figure .read-more {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.required-reading .read-books figure .read-more .read-more-img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.required-reading .read-books figure .read-more span {
  font-size: 16px;
}

.required-reading .read-books figure .read-more span a {
  color: #193952;
  font-style: italic;
}

.required-reading .read-books figure .read-more a:hover {
  text-decoration: underline;
}

footer {
  background: #000;
  width: 100%;
  height: auto;
}

footer .logo {
  padding: 100px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .logo img {
  width: 60px;
}

footer .footer {
  padding: 0 150px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer .footer-icons ul li a {
  font-size: 18px;
  color: #fff;
  line-height: 48px;
  font-weight: 800;
}

footer .footer .footer-icons ul li a:hover {
  text-decoration: underline;
}

footer .footer .footer-more ul li a {
  font-size: 24px;
  font-weight: 800;
  line-height: 48px;
}

footer .footer .footer-more ul li a:hover {
  text-decoration: underline;
}

footer .footer .footer-more ul li .career {
  color: #d0e4cb;
}

footer .footer .footer-more ul li .money {
  color: #ff938c;
}

footer .footer .footer-more ul li .life {
  color: #fdedb2;
}

footer .footer .footer-social-icons figure img {
  width: 48px;
  height: 48px;
  margin: 5px 0;
}
/*# sourceMappingURL=main.css.map */