/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input {
  outline: 0;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
  width: 100%;
  height: auto;
  background: #F3E9E1 url(../images/front-image.png) no-repeat 85% 100%;
  background-size: 45%;
}

@media (max-width: 320px) {
  .wrapper {
    width: 100%;
    height: 100%;
    background-image: none;
    overflow: hidden;
  }
}

.wrapper header {
  padding: 20px 150px;
}

@media (max-width: 320px) {
  .wrapper header {
    padding: 20px 0;
  }
}

.wrapper header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper header .nav .logo-container .logo-image {
  width: 157px;
  height: 56px;
}

@media (max-width: 320px) {
  .wrapper header .nav .logo-container .logo-image {
    display: none;
  }
}

@media (max-width: 320px) {
  .wrapper header .nav .alt-logo-container {
    display: block;
    width: 80.5px;
    height: 80px;
  }
}

.wrapper header .nav .alt-logo-container .tiny-logo-image {
  display: none;
}

@media (max-width: 320px) {
  .wrapper header .nav .alt-logo-container .tiny-logo-image {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.wrapper header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 320px) {
  .wrapper header .nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.wrapper header .nav ul li {
  list-style-type: none;
}

.wrapper header .nav ul li .nav-links {
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  text-transform: uppercase;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 320px) {
  .wrapper header .nav ul li .nav-links {
    margin: 0;
    padding: 15px 20px;
    font-size: 15px;
  }
}

.wrapper header .nav ul li .transparent {
  background: transparent;
  border: 2px solid #000;
  color: #000;
}

.wrapper header .nav ul li .background {
  background: #000;
  color: #fff;
  border: 2px solid #000;
}

.wrapper .main {
  padding: 160px 150px;
}

@media (max-width: 320px) {
  .wrapper .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
  }
}

.wrapper .main .first-page {
  width: 50%;
}

@media (max-width: 320px) {
  .wrapper .main .first-page {
    width: 100%;
    padding: 25px 15px;
  }
}

.wrapper .main .first-page h2 {
  font-weight: 800;
  font-size: 120px;
  line-height: 120px;
  text-transform: uppercase;
}

@media (max-width: 320px) {
  .wrapper .main .first-page h2 {
    font-size: 3rem;
    line-height: 1;
  }
}

.wrapper .main .first-page p {
  font-weight: 400;
  line-height: 36px;
  padding: 20px 0;
}

@media (max-width: 320px) {
  .wrapper .main .first-page p {
    font-size: 19px;
    line-height: 1;
  }
}

.wrapper .main .first-page .search-wrapper {
  padding-top: 30px;
  width: 80%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 320px) {
  .wrapper .main .first-page .search-wrapper {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.wrapper .main .first-page .search-wrapper .email-field {
  border: none;
}

@media (max-width: 320px) {
  .wrapper .main .first-page .search-wrapper .email-field {
    width: 65%;
    height: 100%;
    font-size: 1rem;
    padding: 0 0 0 15px;
  }
}

.wrapper .main .first-page .search-wrapper .search_button {
  height: 60px;
  width: 100px;
  background: #5747e2;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  cursor: pointer;
}

@media (max-width: 320px) {
  .wrapper .main .first-page .search-wrapper .search_button {
    width: 35%;
    height: 100%;
    font-size: 1rem;
    padding: 0;
  }
}

@media (max-width: 320px) {
  .wrapper .main .front-image-wrapper {
    width: 312px;
    height: 242.22px;
  }
}

.wrapper .main .front-image-wrapper img {
  display: none;
}

@media (max-width: 320px) {
  .wrapper .main .front-image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.slide-wrapper {
  width: 100%;
  height: auto;
  background: #F6BEBD;
}

@media (max-width: 320px) {
  .slide-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.slide-wrapper .content {
  padding: 100px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

@media (max-width: 320px) {
  .slide-wrapper .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 70px 0;
  }
}

@media (max-width: 320px) {
  .slide-wrapper .content .figure-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slide-wrapper .content .figure-wrapper .image-wrapper {
  width: 100%;
}

@media (max-width: 320px) {
  .slide-wrapper .content .figure-wrapper .image-wrapper {
    width: 80%;
    height: 100%;
  }
}

.slide-wrapper .content .figure-wrapper .image-wrapper .girlboss-phone-display {
  width: auto;
  border-radius: 50px;
}

@media (max-width: 320px) {
  .slide-wrapper .content .figure-wrapper .image-wrapper .girlboss-phone-display {
    width: 100%;
  }
}

.slide-wrapper .content .figure-content {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 100px;
}

@media (max-width: 320px) {
  .slide-wrapper .content .figure-content {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slide-wrapper .content .figure-content h2 {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  text-transform: uppercase;
}

@media (max-width: 320px) {
  .slide-wrapper .content .figure-content h2 {
    font-size: 3.4rem;
    line-height: 1;
    font-weight: 800;
    text-align: center;
    padding: 0 0 30px;
  }
}

.slide-wrapper .content .figure-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  padding: 20px 0;
}

@media (max-width: 320px) {
  .slide-wrapper .content .figure-content p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    padding: 0 0 30px;
  }
}

.third-section {
  width: 100%;
  height: auto;
  background: #5747E2;
  color: #F3E9E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 320px) {
  .third-section {
    padding: 90px 0;
  }
}

.third-section .post-reply {
  padding: 100px 150px;
  width: 75%;
}

@media (max-width: 320px) {
  .third-section .post-reply {
    width: 100%;
    padding: 0;
  }
}

.third-section .post-reply h2 {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
  padding: 0 0 20px;
  text-transform: uppercase;
}

@media (max-width: 320px) {
  .third-section .post-reply h2 {
    font-size: 2.5rem;
    line-height: 36px;
    padding: 0 0 30px;
  }
}

.third-section .post-reply p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  text-align: center;
}

@media (max-width: 320px) {
  .third-section .post-reply p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
}

.third-section .post-reply .gallery-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.third-section .post-reply .gallery-wrapper img {
  width: 500px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 320px) {
  .third-section .post-reply .gallery-wrapper img {
    width: 100%;
  }
}

.fourth-section {
  width: 100%;
  height: auto;
  background: #F3E9E1;
}

@media (max-width: 320px) {
  .fourth-section {
    padding: 40px 0;
    height: auto;
  }
}

.fourth-section .team {
  padding: 100px 0;
}

@media (max-width: 320px) {
  .fourth-section .team {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .fourth-section .team .fourth-section-content-wrapper {
    padding: 0 0 10px;
  }
}

.fourth-section .team .fourth-section-content-wrapper h2 {
  text-transform: uppercase;
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  text-align: center;
}

@media (max-width: 320px) {
  .fourth-section .team .fourth-section-content-wrapper h2 {
    font-size: 2.5rem;
    line-height: 1;
  }
}

.fourth-section .team .fourth-section-content-wrapper span {
  text-transform: lowercase;
  font-style: italic;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
}

.fourth-section .team .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  padding: 50px 0;
}

@media (max-width: 320px) {
  .fourth-section .team .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

@media (max-width: 320px) {
  .fourth-section .team .gallery figure {
    width: 100%;
    height: 100%;
    margin: 0 15px;
  }
}

.fourth-section .team .gallery figure img {
  width: 403.19px;
  height: 395.63px;
}

@media (max-width: 320px) {
  .fourth-section .team .gallery figure img {
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.fourth-section .team .gallery figure figcaption {
  text-align: center;
}

@media (max-width: 320px) {
  .fourth-section .team .gallery figure figcaption {
    font-size: 22px;
  }
}

.fourth-section .team .gallery figure figcaption em {
  font-size: 22px;
  line-height: 26px;
}

.fourth-section .team .gallery figure figcaption p {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.fourth-section .team .button-sign-up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 320px) {
  .fourth-section .team .button-sign-up {
    padding: 40px 0 20px;
  }
}

.fourth-section .team .button-sign-up .sign-up-btn {
  padding: 15px 30px;
  background: #000;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.fifth-section {
  width: 100%;
  height: auto;
  background: #163952;
}

@media (max-width: 320px) {
  .fifth-section {
    padding: 50px 0;
  }
}

.fifth-section .content-wrapper {
  padding: 100px 150px;
}

@media (max-width: 320px) {
  .fifth-section .content-wrapper {
    padding: 0;
  }
}

.fifth-section .content-wrapper h2 {
  color: #F3E9E0;
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
}

@media (max-width: 320px) {
  .fifth-section .content-wrapper h2 {
    font-size: 2.5rem;
    line-height: 1;
  }
}

.fifth-section .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 150px;
}

@media (max-width: 320px) {
  .fifth-section .slider {
    padding: 0;
    display: block;
  }
}

.fifth-section .slider .left-content {
  font-size: 32px;
  width: 50%;
  padding: 100px 150px;
}

@media (max-width: 320px) {
  .fifth-section .slider .left-content {
    width: 100%;
    padding: 0;
  }
}

.fifth-section .slider .left-content p {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 13px;
}

@media (max-width: 320px) {
  .fifth-section .slider .left-content p {
    display: none;
  }
}

.fifth-section .slider .left-content p:hover {
  text-decoration: underline;
}

.fifth-section .slider .left-content .color-one {
  color: #FCBFBE;
}

.fifth-section .slider .left-content .color-two {
  color: #3C4BC4;
}

.fifth-section .slider .left-content .color-three {
  color: #F6C8A8;
}

.fifth-section .slider .left-content .color-four {
  color: #FFE3E2;
}

.fifth-section .slider .left-content .color-five {
  color: #E18543;
}

.fifth-section .slider .left-content .color-six {
  color: #FEE250;
}

.fifth-section .slider .left-content .button-sign-up {
  width: 100%;
  margin: 107px 0 0;
}

.fifth-section .slider .left-content .button-sign-up .sign-up-btn {
  padding: 15px 30px;
  background: #F3E9E0;
  color: #173952;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 320px) {
  .fifth-section .slider .left-content .button-sign-up .sign-up-btn {
    display: none;
  }
}

.fifth-section .slider .slider-image {
  width: 50%;
  height: 552px;
  overflow: scroll;
}

@media (max-width: 320px) {
  .fifth-section .slider .slider-image {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
  }
}

@media (max-width: 320px) {
  .fifth-section .slider .slider-image figure {
    width: 100%;
    height: 100%;
  }
}

.fifth-section .slider .slider-image figure img {
  width: 100%;
  height: 482px;
}

@media (max-width: 320px) {
  .fifth-section .slider .slider-image figure img {
    width: 90vw;
    height: 100%;
    margin: 0 10px;
  }
}

.fifth-section .slider .slider-image figure figcaption {
  margin: 26px 0 10px;
  text-align: center;
  color: #fff;
}

.fifth-section .slider .slider-image figure figcaption p {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  cursor: default;
}

.fifth-section .slider .slider-image figure figcaption em {
  font-size: 22px;
  line-height: 26px;
}

.fifth-section .slider .slider-image figure figcaption em:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fifth-section .slider .button-sign-up-sm {
  display: none;
}

@media (max-width: 320px) {
  .fifth-section .slider .button-sign-up-sm {
    display: block;
    width: 100%;
    margin: 80px 0 0;
    text-align: center;
  }
  .fifth-section .slider .button-sign-up-sm .sign-up-btn {
    padding: 15px 30px;
    background: #F3E9E0;
    color: #173952;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }
}

.required-reading {
  background: #fee250;
  width: 100%;
  height: auto;
}

@media (max-width: 320px) {
  .required-reading {
    padding: 70px 0;
  }
}

.required-reading .inner {
  padding: 100px 150px 10px;
  color: #193952;
}

@media (max-width: 320px) {
  .required-reading .inner {
    padding: 20px 0;
  }
}

.required-reading .inner h2 {
  font-weight: 800;
  font-size: 47px;
  line-height: 120px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 320px) {
  .required-reading .inner h2 {
    font-size: 2.5rem;
    line-height: 1;
  }
}

.required-reading .read-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 320px) {
  .required-reading .read-books {
    padding: 0;
    display: block;
  }
}

.required-reading .read-books figure {
  width: 327px;
  height: 334px;
}

@media (max-width: 320px) {
  .required-reading .read-books figure {
    width: 100%;
  }
}

.required-reading .read-books figure img {
  width: 325px;
  height: 167px;
}

@media (max-width: 320px) {
  .required-reading .read-books figure img {
    width: 280.8px;
    height: 157.94px;
    margin: 0 auto;
    display: block;
  }
}

.required-reading .read-books figure figcaption p {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #193952;
}

@media (max-width: 320px) {
  .required-reading .read-books figure figcaption p {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 15px;
  }
}

.required-reading .read-books figure figcaption p a {
  text-decoration: none;
  color: inherit;
}

.required-reading .read-books figure figcaption p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.required-reading .read-books figure .read-more {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 320px) {
  .required-reading .read-books figure .read-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
  }
}

.required-reading .read-books figure .read-more .read-more-img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

@media (max-width: 320px) {
  .required-reading .read-books figure .read-more .read-more-img {
    margin: 0;
    width: 20px;
    height: 15px;
  }
}

.required-reading .read-books figure .read-more span {
  font-size: 16px;
}

@media (max-width: 320px) {
  .required-reading .read-books figure .read-more span {
    font-size: 14px;
  }
}

.required-reading .read-books figure .read-more span a {
  color: #193952;
  font-style: italic;
}

.required-reading .read-books figure .read-more a:hover {
  text-decoration: underline;
}

footer {
  background: #000;
  width: 100%;
  height: auto;
}

@media (max-width: 320px) {
  footer {
    padding: 100px 0;
  }
}

footer .logo {
  padding: 100px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 320px) {
  footer .logo {
    padding: 0;
    text-align: center;
  }
}

footer .logo img {
  width: 60px;
}

@media (max-width: 320px) {
  footer .logo img {
    margin: 0 auto;
  }
}

footer .footer {
  padding: 0 150px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 320px) {
  footer .footer {
    display: inline;
    text-align: center;
  }
}

footer .footer .footer-icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer .footer-icons ul li a {
  font-size: 18px;
  color: #fff;
  line-height: 48px;
  font-weight: 800;
}

@media (max-width: 320px) {
  footer .footer .footer-icons ul li a {
    font-size: 18px;
    display: block;
  }
}

footer .footer .footer-icons ul li a:hover {
  text-decoration: underline;
}

footer .footer .footer-more {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media (max-width: 320px) {
  footer .footer .footer-more {
    padding: 20px 0 0;
  }
}

footer .footer .footer-more ul li a {
  font-size: 24px;
  font-weight: 800;
  line-height: 48px;
}

@media (max-width: 320px) {
  footer .footer .footer-more ul li a {
    display: block;
  }
}

footer .footer .footer-more ul li a:hover {
  text-decoration: underline;
}

footer .footer .footer-more ul li .career {
  color: #d0e4cb;
}

footer .footer .footer-more ul li .money {
  color: #ff938c;
}

footer .footer .footer-more ul li .life {
  color: #fdedb2;
}

@media (max-width: 320px) {
  footer .footer .footer-social-icons {
    padding: 20px 0 0;
  }
}

footer .footer .footer-social-icons figure img {
  width: 48px;
  height: 48px;
  margin: 5px 0;
}
/*# sourceMappingURL=main.css.map */